@page
@model Skybot.Web.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <center>
        <div style="font-size: 16px; font-style:italic">
            @Model.BotName's future website
            @for (int i = 0; i < 5; i++)
            {
                @:Iteration @i <br />
            }
        </div>
    </center>
</body>
</html>
