@page
@model Skybot.Web.BotSetupModel
@{
    ViewData["Title"] = "BotSetup";
    Layout = "~/Pages/_LayoutCP.cshtml";
}

<center>
    Bot Setup
    <div class="SimpleBox">
        <a href="https://github.com/Blade12629/Skybot/wiki/1-%5BU%5D-Setup">Skybot Wiki: Setup (Github.com)</a>
    </div>
</center>

