@page
@model Skybot.Web.Pages.CP.ControlPanelModel
@{
    Layout = "_LayoutCP";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ControlPanel</title>
</head>
<body>
    <center>
        Welcome @Model.Username (Access: @Model.Access, ID: @Model.DiscordUserId, Server: @Model.DiscordGuildId)
    </center>
</body>
</html>
