@page
@model Skybot.Web.UserSettingsModel
@{
    ViewData["Title"] = "UserSettings";
    Layout = "~/Pages/_LayoutCP.cshtml";
}

    <center>
        <h1>UserSettings</h1>
        <br />
        <br />
        <div class="SimpleBox">
            <center>
                @if(!string.IsNullOrEmpty(Model.NotificationMessage))
                {
                    @Model.NotificationMessage
                }
                <br />
                You need to specifically set your accesslevel to Host in order to see any server here: !accesslevel 1234567890 Host
                <form method="post">
                    <div class="form-group">
                        <div class="LabelText">Select Discord Server</div>
                        @Html.DropDownListFor(m => m.SelectedDiscordGuildId, Model.DiscordGuildIds, "Select Server")
                    </div>
                    <div class="form-group">
                        <button class="SimpleButton">Change</button>
                    </div>
                </form>
            </center>
        </div>
    </center>

