<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/styles.css" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
<footer style="position: absolute; bottom: 0; width: 100%; height: 5%;">
    <center>
        This Site uses cookies, you can read more about it here:<br />
        <a href="~/PrivacyPolicy/">Privacy Policy</a>
    </center>
</footer>
</html>
