@page
@model Skybot.Web.Pages.IndexModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <center>
        <br />
        <br />
        <div class="SimpleBox">
            Skybot Index Page <br />
            <form action="~/Login/" method="get">
                <button class="SimpleButton">Login</button>
            </form>
            <table>
                <tr>
                    <td>
                        <form action="https://github.com/Blade12629/Skybot/wiki" method="get">
                            <button class="SimpleButton">Wiki</button>
                        </form>
                    </td>
                    <td>
                        <form action="https://github.com/Blade12629/Skybot" method="get">
                            <button class="SimpleButton">Github</button>
                        </form>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <form action="https://osu.ppy.sh/community/forums/topics/1123045" method="get">
                            <button class="SimpleButton">osu! thread</button>
                        </form>
                    </td>

                    <td>
                        <form action="~/CP/ControlPanel/" method="get">
                            <button class="SimpleButton">Control Panel</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </center>
</body>
</html>
