@page
@model Skybot.Web.Pages.LoginModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <br />
    <br />
    <center>
        @if (!string.IsNullOrEmpty(Model.NotificationMessage))
        {
            <div>
                @Model.NotificationMessage
            </div>
        }
        <div class="SimpleBox">
            <form method="post">
                <div class="form-group">
                    <button class="SimpleButton">Login through discord</button>
                </div>
            </form>
        </div>
    </center>
</body>
</html>
